*
!.gitignore
!HIG-RunIISummer20UL18DIGIPremix-02315.py
!HIG-RunIISummer20UL18DIGIPremix-02315.root
!HIG-RunIISummer20UL18HLT-02334.py
!HIG-RunIISummer20UL18HLT-02334.root
!HIG-RunIISummer20UL18MiniAODv2-02334.py
!HIG-RunIISummer20UL18MiniAODv2-02334.root
!HIG-RunIISummer20UL18MiniAODv2_1.log
!HIG-RunIISummer20UL18MiniAODv2_2.log
!HIG-RunIISummer20UL18RECO-02334.py
!HIG-RunIISummer20UL18RECO-02334.root
!HIG-RunIISummer20UL18SIM-02334.py
!HIG-RunIISummer20UL18SIM-02334.root
!HIG-RunIISummer20UL18wmLHEGEN-02820_inLHE.root
!HIG-RunIISummer20UL18wmLHEGEN-02820.py
!HIG-RunIISummer20UL18wmLHEGEN-02820.root
