*
!.gitignore
!HIG-RunIISummer20UL18wmLHEGEN-02820
!HIG-RunIISummer20UL18MiniAODv2.sh
!HIG-RunIISummer20UL18MiniAODv2.jdl
!HIG-RunIISummer20UL18MiniAODv2_lxplus.sh
!HIG-RunIISummer20UL18MiniAODv2_lxplus.jdl
!origin/
!log/
!output/
!example/
